.red{
	width:150px;
	height:80px;
	background-color:red;
	border:5px solid black;
	margin-left:50px;
}
.black{
	width:150px;
	height:80px ;
	background-color:black;
	border:3px solid yellow;
	margin-top:50px;
}
.green{
	width:200px;
	height:50px;
	background-color:green;
	margin-left:100px;
}
